<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    testdox="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
  <coverage>
    <report>
      <clover outputFile="build/logs/coverage.xml"/>
      <html outputDirectory="build/logs/html"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Magoo Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit_unit.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
